a, a:visited { color: #f18d35; }
a:hover, a:focus { color: #ff9966; }
#top_menu_subj_bar ul.menu li a.active-trail,
#top_menu_bar ul.menu li a.active-trail,
#top_menu_subj_bar ul.menu li a.active,
#top_menu_bar ul.menu li a.active
{ color: #000; }