body {
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	background-image: url(../img/bg1.jpg);
	background-repeat: repeat;
	color: #333;
}
a {
	color: #336699;
	text-decoration: none;
}
a:hover {
	color: #333;
}
h1, h2, h3, h4, h5, h6 
{
	font-weight: normal;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	color: #333;
}
h1 {
	font-size: 36px;
	line-height: 36px;
	color: #669900;
}
h2 {
	font-size: 30px;
	line-height: 30px;
}
h3 {
	font-size: 24px;
	line-height: 24px;
}
h4 {
	font-size: 18px;
	line-height: 18px;
}
h5 {
	font-size: 16px;
	line-height: 16px;
}
h6 {
	font-size: 14px;
	line-height: 14px;
}
input[type="text"],
input[type="password"]
{
	font-size:14px;
	border: 1px solid #d1d1cf;
	background-color: #f5f5f1;
	height: 24px;
	margin-top: 3px;
	width: 80%;
}
select {
	font-size:14px;
	border: 1px solid #d1d1cf;
	background-color: #f5f5f1;
	margin-top: 3px;
}
html.js input.form-autocomplete {
  background-position: 100% 7px; /* LTR */
}
html.js input.throbbing {
  background-position: 100% -13px; /* LTR */
}
.form-item label {
font-size:16px;
font-weight: normal;
}
input[type="submit"] {
font-size:14px;
}
textarea {
	border: 1px solid #d1d1cf;
	background-color: #f5f5f1;
}
.form-textarea-wrapper {
	margin-top: 3px;
}
ul.menu li {
  margin: 0;
}
ul li.expanded, 
ul li.collapsed, 
ul li.leaf
/*.node_pin_page .right .item-list ul*/
{
  list-style-image: none;
  list-style-type: none;
}
.node_pin_page .right .item-list ul,
.node_pin_page .right ul.menu,
.node_pin_page .right ul.menu li.expanded, 
.node_pin_page .right ul.menu li.collapsed, 
.node_pin_page .right ul.menu li.leaf
{
list-style-type: disc;
list-style-image: none;
}
.node_pin_page .right .item-list ul,
.node_pin_page .right ul.menu
{
  margin: 0;
  padding: 0;
  padding-left: 15px;
}
.node_pin_page .right .item-list ul span
{
display: block;
}
.node_pin_page .right .item-list ul li,
.node_pin_page .right ul.menu li.expanded, 
.node_pin_page .right ul.menu li.collapsed, 
.node_pin_page .right ul.menu li.leaf
{
  margin: 0;
  padding: 5px 0 5px 0;
}
li.expanded,
li.collapsed,
li.leaf {
  padding: 0;
  margin: 0;
}
.header,
.main,
.header .top,
.header .nav 
{
	width: 100%;
}
.tab-block,
.header .top .inn,
.header .nav .inn,
.top-content-block,
.content-block,
.top-profile-block,
.node_pin_page,
.board_box2,
.footer .inn
{
	width: 950px;
}
.pin_page,
.board_page
{
	width: 962px;
}
.tab-block,
.header .top .inn,
.header .nav .inn,
.pin_page,
.top-content-block,
.content-block,
.top-profile-block,
.board_page,
.node_pin_page,
.board_box2,
.footer .inn
{
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.pin_page,
.board_page,
.node_pin_page,
.content-block
{
	margin-bottom: 15px;
}
.top-content-block .right,
.top-content-block .left,
.top-profile-block .right,
.top-profile-block .left,
.top-profile-block .center,
.tab-block
{
	margin-bottom: 12px;
}
.clr,
.tab-block,
.header,
.main,
.footer,
.top-content-block,
.content-block,
.pin_page,
.pin_box .user,
.top-profile-block,
.board_page,
.node_pin_page,
.board_box2,
.pin_box .comment
{
	clear: both;
	float: none;
}

.header .top ul.menu li a:hover,
.tab-block .tabs a,
.action-page-links a,
.signup-block,
.header .nav .center a,
.actions a,
.comment-form input[type="submit"],
fieldset.flags input[type="submit"],
.blog .links li a,
.PinButtonB a span,
.scroll_top a,
.signup-block a 
{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.left,
.blog .block-left
{
	float: left;
}
.right,
.blog .block-right
{
	float: right;
}
.header {
	background-image: url(../img/bg-header.png);
	background-repeat: repeat-x;
	background-position: left bottom;
	padding-bottom: 29px;
	z-index: 100;
}

.header .top {
	background-image: url(../img/bg-top-g.png);
	background-repeat: repeat;
	width: 100%;
	height: 48px;
}
.header .top .inn {
	height: 48px;
	vertical-align: middle;
}
.header .top .left {
	padding-top: 14px;
}
.header .top .right {
	padding-top: 10px;
}
.header .top .center {
	float: left;
	padding-top: 10px;
	padding-left: 150px;
}
.header .top .center.l {
	padding-left: 80px;
}

.header .top ul.menu {
	list-style-image: none;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.header .top ul.menu li {
	float: left;
}
.header .top ul.menu li a {
	display: block;
	color: #FFF;
	text-decoration: none;
	padding-top: 6px;
	padding-right: 8px;
	padding-bottom: 6px;
	padding-left: 8px;
	font-size: 14px;
	text-shadow: #8a8a8a 1px 1px 1px;
}
.header .top ul.menu li a:hover {
	background-color: #2a5700;
	text-shadow: #8a8a8a 1px 1px 1px;
}
.soc {
	white-space: nowrap;
}

.soc p {
	display: inline;
}
.soc a.soc1,
.soc a.soc2,
.soc a.soc3,
.soc a.soc4,
.soc a.soc5,
.soc a.soc6,
.soc a.soc7,
.soc a.soc8
{
	background-repeat: no-repeat;
	display: block;
	height: 21px;
	width: 21px;
	float: left;
	margin-left: 5px;
}
.soc a.soc1 {
	background-image: url(../img/soc-1-p.png);
}
.soc a.soc2 {
	background-image: url(../img/soc-2-p.png);
}
.soc a.soc3 {
	background-image: url(../img/soc-3-p.png);
}
.soc a.soc4 {
	background-image: url(../img/soc-4-p.png);
}
.soc a.soc5 {
	background-image: url(../img/soc-5-p.png);
}
.soc a.soc6 {
	background-image: url(../img/soc-6-p.png);
}
.soc a.soc7 {
	background-image: url(../img/soc-7-p.png);
}
.soc a.soc8 {
	background-image: url(../img/soc-8-p.png);
}
.soc a.soc1:hover {
	background-image: url(../img/soc-1-a.png);
}
.soc a.soc2:hover {
	background-image: url(../img/soc-2-a.png);
}
.soc a.soc3:hover {
	background-image: url(../img/soc-3-a.png);
}
.soc a.soc4:hover {
	background-image: url(../img/soc-4-a.png);
}
.soc a.soc5:hover {
	background-image: url(../img/soc-5-a.png);
}
.soc a.soc6:hover {
	background-image: url(../img/soc-6-a.png);
}
.soc a.soc7:hover {
	background-image: url(../img/soc-7-a.png);
}
.soc a.soc8:hover {
	background-image: url(../img/soc-8-a.png);
}
.header .nav {
	background-image: url(../img/bg-nav-g.png);
	background-repeat: repeat;
	width: 100%;
	height: 49px;
}
.header .nav .inn {
	height: 49px;
	vertical-align: middle;
}
.header .nav .left {
	padding-top: 10px;
}
.header .nav .right {
	padding-top: 10px;
	white-space: nowrap;
	min-width: 650px;
}
.header .nav .center {
	float: left;
	padding-top: 11px;
	padding-left: 15px;
}
.header .nav .or-b {
	float: left;
	color: #999;
	padding-top: 7px;
	padding-right: 12px;
	padding-left: 6px;
}
.header .nav .center a {
	font-size: 14px;
	line-height: 14px;
	color: #FFF;
	text-decoration: none;
	background-image: url(../img/button-bg-r.png);
	background-repeat: repeat-x;
	display: block;
	border: 1px solid #cc0000;
	padding-top: 5px;
	padding-right: 7px;
	padding-bottom: 5px;
	padding-left: 7px;
	text-shadow: #8a8a8a 1px 1px 1px;
}
.header .nav ul.menu {
	list-style-image: none;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	float: left;
	position: relative;
}
.header .nav ul.menu li {
	float: left;
	padding: 0px;
	margin: 0px;
}
.header .nav ul.menu li a {
	display: block;
	color: #333;
	text-decoration: none;
	padding-top: 6px;
	padding-right: 15px;
	padding-bottom: 6px;
	padding-left: 15px;
	font-size: 18px;
}
.header .nav ul.menu li a:hover {
	color: #666;
}
.header .nav ul.menu .expanded a {
	background-image: url(../img/menu-b.png);
	background-repeat: no-repeat;
	background-position: right center;
}
.header .nav ul.menu li ul.menu {
	background-color: #FFF;
	border: 1px solid #ccccc8;
	position: absolute;
	left: 0px;
	width: 480px;
	padding-top: 5px;
	padding-bottom: 5px;
	display: none;
	z-index: 10;
}
.header .nav ul.menu ul.menu li {
	width: 146px;
	margin-left: 13px;
	margin-top: 7px;
	margin-bottom: 7px;
}
.header .nav ul.menu ul.menu li a {
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	color: #006699;
	background-image: none;
}
.header .nav ul.menu ul.menu li a:hover {
	color: #333;
}
.header .nav .search-b {
	background-image: url(../img/search-h-bg-g.png);
	background-repeat: no-repeat;
	height: 29px;
	width: 202px;
	float: right;
}
.header .nav .right div {
display: inline;
}
.header .nav .search-b input[type="text"] {
	background-color: transparent;
	width: 166px;
	margin-top: 3px;
	margin-left: 5px;
	margin-right: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	height: auto;
}
.header .nav .search-b input[type="submit"] {
	background-color: transparent;
	height: 29px;
	width: 28px;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	text-indent: -1000px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.footer {
	background-image: url(../img/bg-footer.png);
	background-repeat: repeat;
}
.footer .inn {
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 20px;
}
.signup-block {
	font-size: 18px;
	color: #666;
	background-color: #fafaf7;
	border: 1px solid #e3e3dc;
	padding-top: 12px;
	padding-right: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
	text-align: center;
	width: 212px;
}
.signup-block a {
	font-size: 36px;
	color: #FFF;
	text-decoration: none;
	background-image: url(../img/button-bg-b.png);
	background-repeat: repeat-x;
	display: block;
	padding-top: 6px;
	padding-right: 10px;
	padding-bottom: 8px;
	padding-left: 10px;
	margin-top: 8px;
	text-shadow: #2786ad 1px 1px 1px; 
}

/**** Transitions ****/

.transitions-enabled.masonry,
.transitions-enabled.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.transitions-enabled.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.transitions-enabled.masonry  .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}


/* disable transitions on container */
.transitions-enabled.infinite-scroll.masonry {
  -webkit-transition-property: none;
     -moz-transition-property: none;
       -o-transition-property: none;
          transition-property: none;
}

.pin_box {
	background-color: #fafaf7;
	width: 228px;
	float: left;
	margin-right: 6px;
	margin-bottom: 12px;
	margin-left: 6px;
	overflow: hidden;
  /*opacity: 0;*/
     
}
.board_box {
	width: 228px;
	float: left;
	margin-right: 6px;
	margin-bottom: 12px;
	margin-left: 6px;
}
.pin_box .inbox {
	padding: 4px;
	border-width: 1px;
	border-style: solid;
	border-color: #e8e8e3;
}

.pin_box .inbox .photo {
	position: relative;
	overflow: hidden;
}
.pin_box .inbox .photo img {
  width: 100%;
  height: auto; 
}
.pin_box .inbox .photo a:hover img {
  cursor: zoom-in; 
  cursor: -moz-zoom-in; 
  cursor: -webkit-zoom-in;
}
.pin_box .inbox:hover {
	border-color: #cbcbc7;
}
.pin_box .cont {
	padding-top: 0px;
	padding-right: 6px;
	padding-bottom: 10px;
	padding-left: 6px;
}
.pin_box .stat {
	margin-top: 12px;
}
.pin_box .stat span {
	font-size: 11px;
	color: #999;
	margin-right: 6px;
	white-space: nowrap;
}
.pin_box .stat span a {
	color: #999;
	text-decoration: none;
	white-space: nowrap;
}
.pin_box .stat span a:hover {
	color: #000;
	text-decoration: none;
}
.pin_box .user,
.pin_box .comment
{
	padding: 10px;
	font-size: 11px;
	color: #666;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e8e8e3;
	min-height: 30px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #e8e8e3;
	border-left-color: #e8e8e3;
}
.pin_box .user img,
.pin_box .comment img
{
	float: left;
	height: 30px;
	width: 30px;
	margin-right: 10px;
	margin-bottom: 5px;
}
.pin_box .user a,
.pin_box .comment a 
{
	font-weight: bold;
	color: #666;
	text-decoration: none;
}
.pin_box .user a:hover,
.pin_box .comment a:hover 
{
	font-weight: bold;
	color: #000;
	text-decoration: none;
}
.pin_box .comment.all {
	min-height: 0;
	text-align: center;
}
.pin_box .action {
	background-image: url(../img/bg-pin-action.png);
	background-repeat: repeat-x;
	position: absolute;
	width: 100%;
	padding-top: 10px;
	height: 63px;
	text-align: center;
	display: none;
	z-index: 2;
}
.pin_box .action a.action-pin {
  background: none;
	position: absolute;
	width: 100%;
	height: 73px;
	display: block;
	margin-top: -10px;
	z-index: -10;
}
.pin_box .action a.action-pin:hover, .pin_box .photo .video:hover {
  cursor: zoom-in; 
  cursor: -moz-zoom-in; 
  cursor: -webkit-zoom-in;
}
.pin_box .action a.repin, 
.pin_box .action a.like-button, 
.pin_box .action a.comment 
{
	background-repeat: no-repeat;
	padding-left: 25px;
	font-size: 11px;
	color: #dadada;
	text-decoration: none;
	line-height: 16px;
	background-position: 0px 0px;
	margin: 0px;
	margin-top: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding-right: 10px;
}
.pin_box .action a:hover {
	color: #fff;
}
.pin_box .action a.repin {
	background-image: url(../img/action-repin.png);
}
.pin_box .action .like-widget {
display: inline;
}
.pin_box .action .like-info {
display: none;
}
.pin_box .action a.like-button {
	background-image: url(../img/action-like.png);
}
.pin_box .action a.comment {
	background-image: url(../img/action-comment.png);
	padding-right: 0px;
}
.top-profile-block .left  {
	width: 229px;
}
.top-profile-block .left a {
	display: block;
	border: 1px solid #e9e9e5;
	padding: 10px;
	background-color: #FFF;
}
.top-profile-block .left img {
	width: 100%;
	height: auto;
}
.top-profile-block .left .user-picture img {
	float: none;
}
.top-profile-block .left a:hover {
	border-top-color: #ccccc9;
	border-right-color: #ccccc9;
	border-bottom-color: #ccccc9;
	border-left-color: #ccccc9;
}
.top-profile-block .center {
	float: left;
	width: 455px;
	margin-left: 18px;
	font-size: 12px;
	color: #666;
}
.top-profile-block .right {
	width: 229px;
	min-height:230px;
}
.top-profile-block .right .twitter-block {
	border: 1px solid #e9e9e6;
	background-color: #fafaf7;
	padding: 10px;
}
.tweet_list li {
	font-size: 11px;
	margin: 0px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
	color: #999;
}
.tweet_list li a {
	color: #336699;
	text-decoration: none;
}
.tweet_list {
	margin: 0px;
	padding: 0px;
	list-style-image: none;
	list-style-type: none;
}
.twitter-block h6 {
	font-size: 18px;
	line-height: 18px;
	color: #336699;
	margin: 0px;
	padding: 0px;
}
.top-profile-block h1 {
	font-size: 36px;
	line-height: 36px;
	color: #333;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
}
.top-profile-block .stat {
	padding-top: 5px;
	padding-bottom: 5px;
}
.top-profile-block .stat a {
	margin-right: 15px;
	color: #336699;
	text-decoration: none;
}
.top-profile-block .stat span {
	margin-right: 15px;
	color: #336699;
	text-decoration: none;
}
.top-profile-block .stat a:hover {
	text-decoration: underline;
}
.top-profile-block  .actions {
	margin-top: 1px;
	margin-bottom: 1px;
}
.actions a  {
	font-size: 12px;
	color: #FFF;
	text-decoration: none;
	background-image: url(../img/button-bg-pr-p.png);
	background-repeat: repeat-x;
	margin-right: 6px;
	line-height: 32px;
	padding-top: 6px;
	padding-right: 8px;
	padding-bottom: 6px;
	padding-left: 8px;
}
.actions a:hover {
	background-image: url(../img/button-bg-pr-a.png);
}
.board_box {
	/*background-image: url(../img/bg-board-bottom.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	padding-bottom: 10px;*/
	margin-bottom: 10px;
	/*background-color: transparent;*/
}
.board_box a.boards {
	display: block;
	padding: 8px;
	border: 1px solid #e9e9e5;
	text-decoration: none;
	background-color: #fafaf7;
}
.board_box a.boards:hover {
	border: 1px solid #ccccc8;
}

.board_box .title {
	font-size: 24px;
	line-height: 28px;
	color: #333;
	text-decoration: none;
	margin-top: 1px;
	margin-bottom: 5px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
}
.board_box h6 {
	overflow: hidden;
	white-space: nowrap;
	position: relative;
}
.board_box .title .e,
.board_box h6 .e
{
	background-image: url(../img/pr-1.png);
	background-repeat: repeat-y;
	width: 20px;
	height: 28px;
	position: absolute;
	right: 0px;
	top: 0px;
}
.pin-block-category h4 .e,
.pin-block-originally h4 .e,
.pin-block-board h4 .e
{
	background-image: url(../img/pr-3.png);
	background-repeat: repeat-y;
	width: 20px;
	height: 28px;
	position: absolute;
	right: 0px;
	top: 0px;
}
.board_box .co {
	font-size: 11px;
	line-height: 11px;
	color: #999;
	text-decoration: none;

  margin-bottom: 5px;
}
.board_box img,
.board_box .noimgpinbrd img,
.board_box .field-item img
{
	margin: 0px;
	padding: 0px;
	height: 70px;
	width: 70px;
	opacity: 0.5;
}
.board_box .noimgpinbrd,
.board_box .field-item
{
	margin: 0px;
	padding: 0px;
	border: none;
}
.board_box .noimgpinbrd
{
background-color: #eee;
}
.board_box .field, 
.board_box .field div,
.board_box .field .field-items,
.board_box .field .field-item,
.board_box .noimgpinbrd
{
	display: inline;
	margin: 0px;
	padding: 0px;
	border: none;
}
.board_box img:hover {
	opacity: 1;
}
.board_box .board-links {
	text-align: center;
	padding: 10px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #e8e8e3;
	border-bottom-color: #e8e8e3;
	border-left-color: #e8e8e3;
	background-color: #fafaf7;
}
.board_box .board-links a {
	font-size: 18px;
	color: #336699;
	text-decoration: none;
}
.board_box .board-links a:hover {
	color: #000;
}

.region-sidebar-right .board_box {
	float: none;
	margin: 0 0 20px 0;
	padding: 0;
	width: 215px;
}
.region-sidebar-right .board_box a.boards, .region-sidebar-right .board_box a.boards:hover {
	border: none;
	padding: 0;
	
}
.region-sidebar-right .board_box .board-links {
	border: none;
}

.node_pin_page .left.pin-node {
	width: 710px;
	margin-bottom: 15px;
}
.view-filters {
margin: 1px 0 10px 6px;
}
.view-filters label {
  font-size: 16px;
}
.view-filters #edit-field-category-tid {
  height: 28px;
}

.field-name-field-category .form-select {
  height: 123px;
}
.pin-node .actions {
	float: right;
	margin-top: 20px;
}
.user-picture img {
	float: left;
	width: 50px;
	height: 50px;
	margin-right: 10px;
}
.pin-node .user-picture img {
	margin-top: 3px;
}
.pin-node  a.username {
	font-size: 18px;
}
.pin-node .username:hover {
}
.pin-node .stat {
	padding-bottom: 5px;
}
.pin-node .stat a {
	margin-right: 10px;
	color: #999;
	text-decoration: none;
	font-size: 10px;
	white-space: nowrap;
}
.pin-node .stat span {
	margin-right: 10px;
	color: #999;
	text-decoration: none;
	font-size: 10px;
	white-space: nowrap;
}
.pin-node .stat a:hover {
	text-decoration: none;
	color: #333;
}
.pin-node .info {
	font-size: 12px;
	margin-top: 3px;
}
.actions a img {
	vertical-align: middle;
	margin-right: 4px;
	margin-bottom: 4px;
}
.pin-node .actions a {
	margin-right: 0px;
	margin-left: 8px;
}
.pin-image {
	margin-top: 15px;
	background-color: #f4f4f0;
	border: 1px solid #e9e9e5;
	position: relative;
	overflow: hidden;
	text-align: center;
	width: 100%;
}
.pin-image img{
	width: auto;
	height: auto;
}
.pin-des {
	background-color: #f3f3ef;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #e9e9e5;
	border-bottom-color: #e9e9e5;
	border-left-color: #e9e9e5;
	padding: 10px;
	margin-bottom: 8px;
}
.pin-des .ad {
	
}
.pin-node .field-type-taxonomy-term-reference {
	margin-bottom: 10px;
	margin-top: 12px;
}
.pin-node .field-type-taxonomy-term-reference div {
	font-size: 12px;
	display: inline;
	line-height: 30px;
}
.pin-node .field-type-taxonomy-term-reference div.field-item {
	padding-left: 5px;
}
.pin-node .field-type-taxonomy-term-reference div.field-item a {
	padding-left: 10px;
	background-color: #dee3e4;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	white-space: nowrap;
}
.pin-node .actions a {
	background-image: url(../img/button-bg-prb-p.png);
	padding-top: 9px;
	padding-bottom: 8px;
}
.pin-node .actions a:hover {
	background-image: url(../img/button-bg-prb-a.png);
}
.comments {
	background-color: #f4f4f0;
	padding: 10px;
	border: 1px solid #e9e9e4;
	margin-top: 25px;
	margin-bottom: 0px;
}
.comments h6 {
	font-size: 18px;
	line-height: 18px;
	font-weight: normal;
	color: #333;
	margin: 0px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dfe5e6;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 7px;
	padding-left: 0px;
}
.comments .comment {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e1e6e8;
	font-size: 12px;
}
.comments .comment .username {
	font-size: 12px;
}
.comments .comment p {
	padding: 0px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.comments .links {
	float: right;
	list-style-image: none;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.comments .comment .com {
	margin-left: 60px;
}
.comments .commentform {
	padding-top: 10px;
}
.comments .commentform form {
	clear: both;
	float: none;
	padding-top: 10px;
}
.comment-form .filter-wrapper {
	display: none;
	visibility: hidden;
}
.comment-form input[type="submit"] {
	background-image: url(../img/button-bg-prb-p.png);
	background-repeat: repeat-x;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding-top: 7px;
	padding-right: 10px;
	padding-bottom: 7px;
	padding-left: 10px;
	color: #FFF;
	margin-left: 10px;
	font-size: 12px;
}
.comment-form input[type="submit"]:hover {
	background-image: url(../img/button-bg-prb-a.png);
}
.comment-form .form-actions {
	text-align: right;
	margin-top: 10px;
}
.comment-form textarea {
	width: 100%;
	margin: 0px;
	padding: 0px;
	border: 1px solid #d1d1cf;
	background-color: #f5f5f1;
}
.node_pin_page .right {
	width: 230px;
	margin-bottom: 25px;
}
.node_pin_page .right .inn {
	background-color: #fafaf7;
	padding: 10px;
	border: 1px solid #eaeae6;
}
.pin-block-category,
.pin-block-originally,
.pin-block-board
{
	margin: 25px 0 0px 0;
	float: left;
}
.pin-block-originally
{
	width: 360px;
}
.pin-block-board
{
	width: 350px;
}
.pin-block-category h5,
.pin-block-originally h5,
.pin-block-board h5
{
	font-size: 14px;
	line-height: 14px;
	font-weight: normal;
	color: #333;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
}
.pin-block-category h4,
.pin-block-originally h4,
.pin-block-board h4
{
	font-size: 18px;
	line-height: 20px;
	font-weight: normal;
	color: #336699;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
}
.pin-block-category img,
.pin-block-originally img,
.pin-block-board img
{
	margin-right: 10px;
	margin-bottom: 10px;
	width: 50px;
	height: 50px;
}
.pin-block-category .last img,
.pin-block-originally .last img,
.pin-block-board .last img
{
	margin-right: 0px;
}
.pin-block-category div,
.pin-block-originally div,
.pin-block-board div
{
	display: inline;
}
/*
.pin-block-board {
	margin-left: 0px;
}
*/
.block-right {
	margin-bottom: 25px;
}
.block-right h6 {
	font-size: 18px;
	color: #333;
	line-height: 22px;
	font-weight: normal;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
.block-right .con {
	font-size: 12px;
	color: #999;
}
.blog {
	background-color: #fff;
	padding: 10px;
	border: 1px solid #c9c9c5;
	margin-bottom: 10px;
	font-size: 12px;
	color: #666;
}
.blog p {
font-size: 12px;
line-height: 18px;
}
.blog ul {
font-size: 12px;
line-height: 18px;
}
.blog img {
	float: left;
	margin-right: 10px;
}
.blog .info {
	font-size: 10px;
	color: #999;
	margin-bottom: 10px;
}
.blog .info a.username {
	font-size: 10px;
}
.blog h3.title {
	font-size: 24px;
	line-height: 24px;
	font-weight: normal;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0in;
}
.blog .act .links {
	list-style-image: none;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.blog .act .links li {
	float: left;
}
.blog .act .links li a {
	font-size: 12px;
	color: #FFF;
	text-decoration: none;
	background-image: url(../img/button-bg-prb-p.png);
	background-repeat: repeat-x;
	margin-right: 6px;
	line-height: 32px;
	padding-right: 8px;
	padding-left: 8px;
  padding-top: 9px;
	padding-bottom: 8px;
}
.blog .act .links li a:hover {
	background-image: url(../img/button-bg-prb-a.png);
}
.node_pin_page h1.title {
	font-size: 36px;
	line-height: 36px;
	font-weight: normal;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	color: #333;
}

.node_pin_page .inf {
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  padding: 7px 0 7px 0;
  margin: 10px 0 0px 0;
}
.node_pin_page .inf .cou {
  float: right;
  font-size: 13px;
}


.blog .block-left,
.blog .block-right
{
	font-size: 12px;
	font-style: italic;
	color: #999;
	width: 200px;
}
.blog .block-left {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #d6e0eb;
	margin-right: 10px;
	padding-right: 10px;
}
.blog .block-right {
	width: 200px;
	margin-left: 10px;
	padding-left: 10px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #d6e0eb;
}
.blog p {
	margin-top: 0px;
}
.blog .comments {
	background-color: #FFF;
}
.blog .comments .commentform textarea {
	background-color: #fefefd;
}
.tab-block .tabs, .tab-block .tabs a, .tab-block .tabs a.active {
border: none;
}
.tab-block .tabs {
padding: 0;
margin: 0;
white-space: normal;
}
.tab-block .tabs a,
.action-page-links a
{
	font-size: 12px;
	color: #FFF;
	text-decoration: none;
	background-image: url(../img/button-bg-pr-p.png);
	background-repeat: repeat-x;
	margin-right: 6px;
	line-height: 32px;
	padding-top: 6px;
	padding-right: 8px;
	padding-bottom: 6px;
	padding-left: 8px;
	white-space: nowrap;
}
.tab-block .tabs a:hover, 
.tab-block .tabs a.active,
.action-page-links a:hover
{
	background-image: url(../img/button-bg-pr-a.png);
	color: #FFF;
}
.action-page-links
{
  list-style-image: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.action-page-links a
{
	margin-right: 0px;
}
.rate-like-block {
  float: left;
  width: 150px;
}
.rate-like-block .like-widget div {
  display: inline;
}
.rate-like-block .like-widget .like-button{
	background-image: url(../img/ico-like.png);
	background-position: 5px 2px;
	text-indent: -100px;
	overflow: hidden;
	background-repeat: no-repeat;
	width: 20px;
	height: 16px;
	border: none;
	display: block;
	float: left;
}
.rate-like-block .like-info {
  font-size: 12px;
}
.like-thumbs-up-btn-up {
overflow: hidden;
}
fieldset.flags {
  border: none;
}
fieldset.flags legend {
  float: right;
  border: none;
}
fieldset.flags legend .fieldset-legend{ 
font-size: 12px;
}
html.js fieldset.collapsible .fieldset-legend, 
html.js fieldset.collapsed .fieldset-legend 
{
  background-position: -50px 0px;
}
fieldset.flags legend img { 
margin: 0 5px 0 2px;
vertical-align: middle;
}
fieldset.flags input[type="submit"] {
	background-image: url(../img/button-bg-prb-p.png);
	background-repeat: repeat-x;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding-top: 6px;
	padding-right: 10px;
	padding-bottom: 6px;
	padding-left: 10px;
	color: #FFF;
	margin-left: 10px;
}
fieldset.flags input[type="submit"]:hover {
	background-image: url(../img/button-bg-prb-a.png);
}
.sharethis-buttons {
text-align: center;
}
.aut label {
display: none;
}
.aut div {
margin: 0;
padding: 0;
}
.messages {
  
}
.action-page-links {
float: right;
}
.tab-block.right {
width: auto;
margin: 0;
padding: 0;
}
.tab-block.right .tabs li {
margin: 0;
padding: 0;
}
.footer p {
margin: 0;
padding: 0;
}
.scroll_top {
	position: fixed;
	right: 10px;
	bottom: 20px;
	display: none;
}
.scroll_top a {
	background-image: url(../img/button-bg-prb-p.png);
	background-repeat: repeat-x;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding-top: 8px;
	padding-right: 30px;
	padding-bottom: 8px;
	padding-left: 10px;
	color: #FFF;
	margin-left: 10px;
}
.scroll_top a:hover {
	background-image: url(../img/button-bg-prb-a.png);
	color: #FFF;
}
.scroll_top img {
 position: absolute;
 margin: -3px 0 0 5px;
}
.overlay {
    position: fixed;
    top: 0; bottom: 0;
    right: 0; left: 0;
    overflow-x:auto;
    overflow-y: scroll;
    z-index: 999;
    background-color:white;
    background-color:rgba(0, 0, 0, 0.85);
}


#pin_iframe {
  width: 750px;
  /*height: 500px;*/
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: url(../img/load.gif);
	background-repeat: no-repeat;
	background-position: center 50px;
	background-color: #fff;
}
.pin_container {
  width: 750px;
  /*height: 100%;*/
  margin: 0 auto;
  padding: 20px 0 20px 0;
  position: relative;
  overflow: hidden;	
}
.no_scroll {
    overflow:hidden !important;
}
.close_icon {
  position: absolute;
  right: 10px;
  top:30px;
	background-image: url(../img/close.png);
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	cursor: pointer;
}
.ovr {
padding: 10px;
}
.ovr .node_pin_page{
width: auto;
}


.PinButtonB a {
  border: 1px solid #e9e9e5;
  background-color: #fafaf7;
  display: block;
  width: 223px;
  margin-right: 10px;
  float: left;
  text-align: center;
  padding-bottom: 30px;
  -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.PinButtonB a img {
  margin: 31px 0 41px 0;
}
.PinButtonB a span {
  font-size: 14px;
	background-image: url(../img/button-bg-prb-p.png);
	background-repeat: repeat-x;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding-top: 7px;
	padding-right: 10px;
	padding-bottom: 6px;
	padding-left: 10px;
	color: #FFF;
}
.PinButtonB a:hover span {
	background-image: url(../img/button-bg-prb-a.png);
}

#ButtonHolder {
  border: 1px solid #e9e9e5;
  background-color: #fafaf7;
  padding: 25px;
}

#ButtonHolder a {
  font-size: 16px;
	background-image: url(../img/button-bg-bb-bl.png);
	background-repeat: repeat-x;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	color: #FFF;
	float: left;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-right: 35px;
}
/*
#ButtonHolder a:hover {
	background-image: url(../img/button-bg-prb-a.png);
}
*/
#ButtonHolder a strong {
  font-weight: normal;
	background-image: url(../img/pinit.png);
	background-repeat: no-repeat;
	background-position: 0px 8px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 35px;
}

#ButtonHolder #ButtonInstructions{
font-size: 16px;
margin-top: 12px;
}
#InstallationInstructions li {
padding: 5px 0 5px 0;
}

.ovr .pin-image iframe {
width: 708px;
height: 553px;
}
.pin-image iframe {
width: 708px;
height: 553px;
}

.pin_box .inbox .photo .price,
.pin-image .price
{
    position: absolute;
    z-index: 1;
    top: 24px;
    left: -27px;
    width: 125px;
    /*height: 22px;*/
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
    font-size: 12px;
    color: #333;
    background-color: #eee;
    overflow: hidden;
    -webkit-transform: rotate(-45deg);
    -moz-transform:  rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
}

#infscr-loading {
    position: fixed;
    bottom: 50px; left: 50%;
    width: 240px;
    text-align: center;
    margin-left: -120px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px 0 10px 0;
    box-shadow: 10px 10px 5px #888888;
    -webkit-border-radius: 6px;
	  -moz-border-radius: 6px;
	  border-radius: 6px;
    z-index: 100;
}
.masonry .item-list {
    visibility: hidden;
}
.blk2 {
margin: 10px 0 20px 0;
width: 100%;
clear: both;
}
.blk2 ul {
	list-style-image: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.blk2 ul li {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.node-pin-form .filter-wrapper {
display: none;
}
#edit-advansed-pin-settings {
margin: 20px 0 20px 0;
}
#edit-advansed-pin-settings .fieldset-legend {
font-size: 14px;
}
.pin_box .photo .video {
  display: block;
  position: absolute;
  background: url(../img/VideoIndicator.png) center center no-repeat;
  z-index: 0;
  width: 218px;
  height: 164px;
  left: 0px;
}

.form-item .description
{
	width: 100%;
	clear: both;
	float: none;
}
.blkfn {
  width: 220px;
  height: 220px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
  border: solid 1px #CCC;
}
.blkfn a {
  width: 220px;
  height: 220px;
  display: block;
  text-align: center;
}
.blkfn img {
	white-space: nowrap;
}
.blkfn span {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  bottom: 10px;
  z-index: 2;
  white-space: nowrap;
}
.blkfn span b {
  color: #000;
  font-weight: normal;
  background-color: #FFF;
  white-space: nowrap;
  line-height: 20px;
  padding: 5px;
}
.blkfn div {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  bottom: 10px;
  z-index: 2;
  white-space: nowrap;
}
.blkfn div b {
  color: #000;
  font-weight: normal;
  background-color: #FFF;
  white-space: nowrap;
  line-height: 20px;
  padding: 5px;
}
.blkfn div.video {
  position: absolute;
  background: url(../img/VideoIndicator.png) center center no-repeat;
  z-index: 0;
  width: 220px;
  height: 220px;
  left: 0px;
  bottom: 0px;
}




/**************************************************************************************************/
@media only screen and (min-width: 2900px) {
  /* 12 */
  .tab-block,
  .header .top .inn,
  .header .nav .inn,
  .top-content-block,
  .content-block,
  .top-profile-block,
  .footer .inn
  {
	  width: 1188px;
  }
  .top-profile-block .center {
	  width: 700px;
  }
  .node_pin_page,
  .board_box2
   {
	  width: 1188px;
  }
  .node_pin_page .left.pin-node {
	  width: 950px;
  }
  .board_page {
	  width: 1200px;
  }
  .pin_page/*,
  .board_page*/
  {
	  width: 2880px;
  }
}
@media only screen and (min-width: 2660px) and (max-width: 2899px) {
  /* 11 */
  .tab-block,
  .header .top .inn,
  .header .nav .inn,
  .top-content-block,
  .content-block,
  .top-profile-block,
  .footer .inn
  {
	  width: 1188px;
  }
  .top-profile-block .center {
	  width: 700px;
  }
  .node_pin_page,
  .board_box2
   {
	  width: 1188px;
  }
  .node_pin_page .left.pin-node {
	  width: 950px;
  }
  .board_page {
	  width: 1200px;
  }
  .pin_page/*,
  .board_page*/
  {
	  width: 2640px;
  }
}
@media only screen and (min-width: 2420px) and (max-width: 2659px) {
  /* 10 */
  .tab-block,
  .header .top .inn,
  .header .nav .inn,
  .top-content-block,
  .content-block,
  .top-profile-block,
  .footer .inn
  {
	  width: 1188px;
  }
  .top-profile-block .center {
	  width: 700px;
  }
  .node_pin_page,
  .board_box2
   {
	  width: 1188px;
  }
  .node_pin_page .left.pin-node {
	  width: 950px;
  }
  .board_page {
	  width: 1200px;
  }
  .pin_page/*,
  .board_page*/
  {
	  width: 2400px;
  }
}
@media only screen and (min-width: 2180px) and (max-width: 2419px) {
  /* 9 */
  .tab-block,
  .header .top .inn,
  .header .nav .inn,
  .top-content-block,
  .content-block,
  .top-profile-block,
  .footer .inn
  {
	  width: 1188px;
  }
  .top-profile-block .center {
	  width: 700px;
  }
  .node_pin_page,
  .board_box2
   {
	  width: 1188px;
  }
  .node_pin_page .left.pin-node {
	  width: 950px;
  }
  .board_page {
	  width: 1200px;
  }
  .pin_page/*,
  .board_page*/
  {
	  width: 2160px;
  }
}
@media only screen and (min-width: 1940px) and (max-width: 2179px) {
  /* 8 */
  .tab-block,
  .header .top .inn,
  .header .nav .inn,
  .top-content-block,
  .content-block,
  .top-profile-block,
  .footer .inn
  {
	  width: 1188px;
  }
  .top-profile-block .center {
	  width: 700px;
  }
  .node_pin_page,
  .board_box2
   {
	  width: 1188px;
  }
  .node_pin_page .left.pin-node {
	  width: 950px;
  }
  .board_page {
	  width: 1200px;
  }
  .pin_page/*,
  .board_page*/
  {
	  width: 1920px;
  }
}
@media only screen and (min-width: 1700px) and (max-width: 1939px) {
  /* 7 */
  .tab-block,
  .header .top .inn,
  .header .nav .inn,
  .top-content-block,
  .content-block,
  .top-profile-block,
  .footer .inn
  {
	  width: 1188px;
  }
  .top-profile-block .center {
	  width: 700px;
  }
  .node_pin_page,
  .board_box2
  {
	  width: 1188px;
  }
  .node_pin_page .left.pin-node {
	  width: 950px;
  }
  .board_page {
	  width: 1200px;
  }
  .pin_page/*,
  .board_page*/
  {
	  width: 1680px;
  }
}
@media only screen and (min-width: 1460px) and (max-width: 1699px) {
  /* 6 */
  .tab-block,
  .header .top .inn,
  .header .nav .inn,
  .top-content-block,
  .content-block,
  .top-profile-block,
  .footer .inn
  {
	  width: 1188px;
  }
  .top-profile-block .center {
	  width: 700px;
  }
  .node_pin_page,
  .board_box2
   {
	  width: 1188px;
  }
  .node_pin_page .left.pin-node {
	  width: 950px;
  }
  .board_page {
	  width: 1200px;
  }
  .pin_page/*,
  .board_page*/
  {
	  width: 1440px;
  }
}
@media only screen and (min-width: 1220px) and (max-width: 1459px) {
  /* 5 */
  .tab-block,
  .header .top .inn,
  .header .nav .inn,
  .top-content-block,
  .content-block,
  .top-profile-block,
  .footer .inn
  {
	  width: 1188px;
  }
  .top-profile-block .center {
	  width: 700px;
  }
  .node_pin_page,
  .board_box2
   {
	  width: 1188px;
  }
  .node_pin_page .left.pin-node {
	  width: 950px;
  }
  .board_page {
	  width: 1200px;
  }
  .pin_page
  {
	  width: 1200px;
  }
}
@media only screen and (min-width: 980px) and (max-width: 1219px) {
  /* 4 */
  .tab-block,
  .header .top .inn,
  .header .nav .inn,
  .top-content-block,
  .content-block,
  .top-profile-block,
  .node_pin_page,
  .footer .inn
  {
	  width: 950px;
  }
  .cat-menu-title {
    display: none;
  }
  .pin_page/*,
  .board_page*/
  {
	  width: 962px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  /* 3 */
  .tab-block,
  .header .top .inn,
  .header .nav .inn,
  .top-content-block,
  .content-block,
  .top-profile-block,
  .node_pin_page,
  .board_box2,
  .footer .inn
  {
	  width: 750px;
  }
  .cat-menu-title {
    display: none;
  }
  .pin_page,
  .board_page
  {
	  width: 740px;
  }
  .node_pin_page .left.pin-node {
	  width: 510px;
  }
  .header .top {
	  height: 96px;
  }
  .header .top .inn {
	  height: 96px;
  }
  .header .top .right {
	  padding-top: 17px;
	  float: none;
	  clear: both;
  }
  .header .top .center {
	  float: right;
	  padding-left: 0px;
  }
  .header .nav {
	  height: 98px;
  }
  .header .nav .inn {
	  height: 89px;
  }
  .header .nav .right {
	  padding-top: 13px;
	  min-width: 750px;
  }
  .pin-image img{
	  width: 100%;
  }
  .top-content-block .left img {
    width: 100%;
    height: auto;
  }
  .top-profile-block .right  {
	  float: left;
	  margin-left: 10px;
  }
  .top-profile-block .center  {
	  width: 750px;
	  margin-left: 0px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* 2 */
  .tab-block,
  .header .top .inn,
  .header .nav .inn,
  .top-content-block,
  .content-block,
  .top-profile-block,
  .node_pin_page,
  .board_box2,
  .footer .inn
  {
	  width: 468px;
  }
  .cat-menu-title {
    display: none;
  }
  .pin_page,
  .board_page
  {
	  width: 480px;
  }
  #pin_iframe {
    width: 450px;
  }
  .pin_container {
    width: 450px;
	}
  .node_pin_page .left.pin-node {
	  width: 468px;
  }
  .node_pin_page .right {
	  width: 468px;
  }
  .header .top {
	  height: 96px;
  }
  .header .top .inn {
	  height: 96px;
  }
  .header .top .right {
	  padding-top: 17px;
	  float: none;
	  clear: both;
  }
  .header .top .center {
	  float: right;
	  padding-left: 0px;
  }
  .header .nav .right,
  .header .nav .search-b,
  .header .nav ul.menu
  {
	  float: none;
	  clear: both;
  }
  .header .nav {
	  background-color: #eee;
	  background-image: none;
	  height: auto;
	  padding-bottom: 10px;
  }
  .header .nav .inn {
	  height: auto;
  }
  .header .nav .right {
	  padding-top: 10px;
	  min-width: 450px;
  }
  .header .nav .left {
	  padding-top: 10px;
	  height: 39px;
  }
  .header .nav .right .or-b {
    display: none;
  }
  .header .nav .right div {
    display: block;
  }
  .header .nav .search-b {
    float: none;
    margin: 20px 10px 0 10px;
  }
  .top-content-block .left img {
    width: 100%;
    height: auto;
  }
  .pin-image img{
	  width: 100%;
  }
  
  .ovr .pin-image img {
	  width: auto;
  }
  
}
@media only screen and (max-width: 479px) {
  /* 1 */
  .tab-block,
  .header .top .inn,
  .header .nav .inn,
  .top-content-block,
  .content-block,
  .top-profile-block,
  .node_pin_page,
  .board_box2,
  .footer .inn
  {
	  width: 240px;
  }
  .cat-menu-title {
    display: none;
  }
  .pin_page,
  .board_page
  {
	  width: 240px;
	  
  }
  #pin_iframe {
    width: 230px;
  }
  .pin_container {
    width: 230px;
	}
	  .node_pin_page .left.pin-node {
	  width: 240px;
  }
  .node_pin_page .right {
	  width: 240px;
  }
  .header .top {
	  height: auto;
	  background-color: #7cae17;
	  background-image: none;
  }
  .header .top .inn {
	  height: auto;
  }
  .header .top .left {
	  padding-top: 10px;
	  float: none;
	  clear: both;
  }
  .header .top .right,
  .header .top .center,
  .header .top .left,
  .header .top .right ul.menu,
  .header .nav .left,
  .header .nav .center,
  .header .nav .right,
  .header .nav ul.menu
  {
	  float: none;
	  clear: both;
  }
  .header .top .right {
	  padding-top: 0px;
  }
  .header .top .center {
	  text-align: center;
	  padding: 10px 20px 10px 20px;
  }
  .header .top .right ul.menu li {
	  float: none;
	  padding: 3px 0 3px 0;
  }
  .header .nav {
	  height: auto;
	  background-color: #eee;
	  background-image: none;
	  padding-bottom: 10px;
  }
  .header .nav .inn {
	  height: auto;
  }
  .header .nav .right {
	  padding-top: 10px;
	  min-width: 230px;
  }
  .header .nav .left {
	  padding-top: 10px;
	  height: auto;
  }
  .header .nav .right .or-b {
    display: none;
  }
  .header .nav .right ul.menu {
	  margin: 0;
	  padding: 0;
  }
  .header .nav .right ul.menu li {
	  float: none;
  }
  .header .nav ul.menu li a {
	  padding-right: 0px;
	  padding-left: 0px;
  }
  .header .nav ul.menu li ul.menu {
	  background-color: #FFF;
	  border: 1px solid #ccccc8;
	  position: static;
	  width: 240px;
	  padding-top: 5px;
	  padding-bottom: 5px;
  }
  .header .nav .search-b {
    float: none;
    margin: 10px 10px 0 10px;
  }
  .header .nav .right div {
    display: block;
  }
  .top-content-block .left img {
    width: 100%;
    height: auto;
  }
  .top-content-block .right {
    float: left;
  }
  .top-profile-block .center  {
	  width: 240px;
	  margin-left: 0px;
  }
  .top-profile-block .right  {
	  float: left;
	  margin-left: 0px;
  }
  .loginza-iframe {
  width: 150px;
  height: 300px;
  }
  .pin-image img{
	  width: 100%;
  }
  .pin-block-originally
{
	width: auto;
}
.pin-block-board
{
	width: auto;
}
}