@font-face {
    font-family: 'AllerRegular';
    src: url('aller/aller_rg-webfont.eot?') format('eot'),
         url('aller/aller_rg-webfont.woff') format('woff'),
         url('aller/aller_rg-webfont.ttf') format('truetype'),
         url('aller/aller_rg-webfont.svg#webfont05QLJQmH') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	font-family: 'AllerRegular';
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'AllerRegular';
	font-weight: normal;
}

.header .nav .center a {
	font-size: 14px;
	line-height: 14px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.signup-block a {
	font-size: 36px;
	padding-top: 5px;
	padding-bottom: 6px;
}
.actions a  {
	font-size: 12px;
	line-height: 32px;
	padding-top: 5px;
	padding-bottom: 4px;
}

.pin-node .actions a {
	padding-top: 8px;
	padding-bottom: 7px;
}
.comment-form input[type="submit"] {
	padding-top: 7px;
	padding-bottom: 7px;
	font-size: 12px;
}
.blog .act .links li a {
	font-size: 12px;
	line-height: 32px;
  padding-top: 7px;
	padding-bottom: 6px;
}

.tab-block .tabs a,
.action-page-links a
{
	font-size: 12px;
	line-height: 32px;
	padding-top: 5px;
	padding-bottom: 4px;
}


.scroll_top a {
	padding-top: 7px;
	padding-bottom: 5px;
}
.scroll_top img {
 margin: -2px 0 0 5px;
}

.PinButtonB a span {
  font-size: 14px;
	padding-top: 7px;
	padding-bottom: 5px;
}
#ButtonHolder a {
  font-size: 16px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-right: 35px;
}