@font-face {
    font-family: 'DeliciousRoman';
    src: url('delicious/delicious-roman-webfont.eot');
    src: url('delicious/delicious-roman-webfont.eot?iefix') format('eot'),
         url('delicious/delicious-roman-webfont.woff') format('woff'),
         url('delicious/delicious-roman-webfont.ttf') format('truetype'),
         url('delicious/delicious-roman-webfont.svg#webfontnJlxOCfe') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	font-family: 'DeliciousRoman';
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'DeliciousRoman';
	font-weight: normal;
}

.scroll_top a {
	padding-top: 7px;
	padding-bottom: 5px;
}
.scroll_top img {
 margin: -2px 0 0 5px;
}
