@font-face {
    font-family: 'Museo300';
    src: url('museo/museo-300-webfont.eot');
    src: url('museo/museo-300-webfont.eot?iefix') format('eot'),
         url('museo/museo-300-webfont.woff') format('woff'),
         url('museo/museo-300-webfont.ttf') format('truetype'),
         url('museo/museo-300-webfont.svg#webfontdDHGhRnA') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Museo500';
    src: url('museo/museo-500-webfont.eot');
    src: url('museo/museo-500-webfont.eot?iefix') format('eot'),
         url('museo/museo-500-webfont.woff') format('woff'),
         url('museo/museo-500-webfont.ttf') format('truetype'),
         url('museo/museo-500-webfont.svg#webfontYfInUxMA') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Museo700';
    src: url('museo/museo-700-webfont.eot');
    src: url('museo/museo-700-webfont.eot?iefix') format('eot'),
         url('museo/museo-700-webfont.woff') format('woff'),
         url('museo/museo-700-webfont.ttf') format('truetype'),
         url('museo/museo-700-webfont.svg#webfontt20F86Ki') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	font-family: 'Museo500';
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Museo500';
	font-weight: normal;
}

.signup-block a {
	font-size: 36px;
	padding-top: 5px;
	padding-bottom: 6px;
}
.actions a  {
	font-size: 12px;
	line-height: 32px;
	padding-top: 5px;
	padding-bottom: 4px;
}

.pin-node .actions a {
	padding-top: 10px;
	padding-bottom: 6px;
}
.comment-form input[type="submit"] {
	padding-top: 7px;
	padding-bottom: 7px;
	font-size: 12px;
}
.blog .act .links li a {
	font-size: 12px;
	line-height: 32px;
  padding-top: 7px;
	padding-bottom: 6px;
}

.tab-block .tabs a,
.action-page-links a
{
	font-size: 12px;
	line-height: 32px;
	padding-top: 6px;
	padding-bottom: 5px;
}

.scroll_top a {
	padding-top: 7px;
	padding-bottom: 5px;
}
.scroll_top img {
 margin: -2px 0 0 5px;
}

.PinButtonB a span {
  font-size: 14px;
	padding-top: 7px;
	padding-bottom: 5px;
}
#ButtonHolder a {
  font-size: 16px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-right: 35px;
}