@font-face {
    font-family: 'TitilliumText22L600wt';
    src: url('titillium/titilliumtext22l004-webfont.eot');
    src: url('titillium/titilliumtext22l004-webfont.eot?#iefix') format('embedded-opentype'),
         url('titillium/titilliumtext22l004-webfont.woff') format('woff'),
         url('titillium/titilliumtext22l004-webfont.ttf') format('truetype'),
         url('titillium/titilliumtext22l004-webfont.svg#TitilliumText22L600wt') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	font-family: 'TitilliumText22L600wt';
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'TitilliumText22L600wt';
	font-weight: normal;
}

.signup-block a {
	font-size: 36px;
	padding-top: 0px;
	padding-bottom: 5px;
}
.actions a  {
	font-size: 12px;
	line-height: 32px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.pin-node .actions a {
	padding-top: 6px;
	padding-bottom: 7px;
}
.comment-form input[type="submit"] {
	padding-top: 7px;
	padding-bottom: 7px;
	font-size: 12px;
}
.blog .act .links li a {
	font-size: 12px;
	line-height: 32px;
  padding-top: 6px;
	padding-bottom: 6px;
}

.tab-block .tabs a,
.action-page-links a
{
	font-size: 12px;
	line-height: 32px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.scroll_top a {
	padding-top: 4px;
	padding-bottom: 5px;
}
.scroll_top img {
 margin: 0px 0 0 5px;
}

.PinButtonB a span {
  font-size: 14px;
	padding-top: 5px;
	padding-bottom: 5px;
}
#ButtonHolder a {
  font-size: 16px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-right: 35px;
}